.dd-n {
   width: 100%;
   min-width: 0;
   max-width: initial;
   height: auto;
   min-height: 0;
   max-height: initial;
   padding: 0;
   margin: 0;
}

.dd-wrapper {
   display: inline-block !important;
   position: relative;
   height: 25px;
   line-height: 25px;
   font-size: 13px;
   color: #444;
   min-width: 100px;
   box-sizing: content-box;
   border: solid 1px #ccc;
   border-radius: 3px;
   background-color: #fefefe;
   vertical-align: bottom;
   margin-right: 5px;
}

.dd-wrapper.dd-rubbery,
.dd-wrapper.dd-rubbery .dd-head,
.dd-wrapper.dd-rubbery .dd-value {
   height: auto;
}

.dd-hidden {
   display: none;
}

.dd-head {
   height: 25px;
}

.dd-wrapper:focus {
   outline: 0 none;
   outline: 0px solid #fff;
   -o-outline: 0px solid #fff;
   outline-width: 0;
   outline-color: rgba(0, 0, 0, 0);
   outline-offset: -2px;
}

.dd-wrapper.dd-focused {
   border: 1px solid #4D90FE;
   /*-webkit-box-shadow: 0px 0px 5px  #4D90FE;
   box-shadow: 0px 0px 5px  #4D90FE;*/
}

.dd-wrapper.dd-focused .dd-bottom {
   border: 1px solid #4D90FE;
   border-top: none;
   /*-webkit-box-shadow: 0px 0px 5px  #4D90FE;
   box-shadow: 0px 0px 5px  #4D90FE;*/
}

.dd-head .dd-value {
   display: inline-block;
   overflow: hidden;
   min-width: 75px;
   height: 25px;
   line-height: 25px;
   vertical-align: top;
   box-sizing: border-box;
   padding: 0px 6px;
   cursor: pointer;
}

.dd-head .dd-arrow {
   display: inline-block;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 100;
   font-size: 16px;
   width: 25px;
   height: 25px;
   cursor: pointer;

/*   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   transition: all 0.2s;*/
}

.dd-arrow:after {
   height: 6px;
   width: 6px;
   content: '';
   display: block;
   position: absolute;
}

.dd-arrow.dd-down:after {
   left: 8px;
   top: 8px;

   border-bottom: solid 1px #999;
   border-right: solid 1px #999;

   transform-origin: center center;

   -o-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

.dd-arrow.dd-up:after {
   bottom: 7px;
   left: 8px;

   border-top: solid 1px #999;
   border-right: solid 1px #999;

   transform-origin: center center;

   -o-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.dd-wrapper .dd-bottom {
   background-color: #fefefe;
   z-index: 101;
   position: absolute;
   margin-top: -1px; /* to overlap dd-head border */
   left: -1px; /* -1 because dd-bottom has left-border */
   border-radius: 3px;
   border: solid 1px #ccc;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-top: none;
   width: 100%;
   max-height: 200px;
   overflow-y: scroll;
   overflow-x: hidden;
   box-sizing: content-box;
}

.dd-wrapper .dd-bottom:empty {
   height: 0;
   padding: 0;
}

.dd-wrapper .dd-item {
   padding: 0px 6px;
   cursor: pointer;
}

.dd-wrapper .dd-item.dd-hover {
   background-color: #efefef;
}

.dd-wrapper .dd-item.dd-selected {
   background-color: #eaeaea;
   cursor: default;
}

.dd-v {
   display: inline-block;
   width: auto;
   background-color: #6285af;
   margin-right: 5px;
   margin-top: 3px;
   margin-bottom: 2px;
   vertical-align: top;
   color: white;
   padding: 0px 6px;
   border-radius: 3px;
   height: 20px;
   overflow: hidden;
}

.dd-delete:hover {
   opacity: 1;
}

.dd-v .dd-text, .dd-v .dd-delete {
   display: inline-block;
   width: auto;
   line-height: 20px;
   height: 20px;
   vertical-align: top;
}

.dd-v .dd-delete {
   line-height: 20px;
   height: 20px;
   box-sizing: border-box;
   margin-left: 3px;
   opacity: 0.5;
   -webkit-transition: opacity 0.2s;
   transition: opacity 0.2s;
}

.dd-tbl {
   display: table;
   padding-bottom: 5px;
}

.dd-tbl .dd-left, .dd-tbl .dd-right {
   display: table-cell;
   vertical-align: top;
}

.dd-tbl .dd-right {
   width: auto;
   height: 40px;
}

.dd-tbl .dd-left {
   width: 35px;
   height: 40px;
   vertical-align: middle;
}

.dd-img img {
   height: 30px;
}

.dd-img {
   height: 30px;
   width: 30px;
   /*border-radius: 15px;*/
   overflow: hidden;
   text-align: center;
}

.dd-hidden img {
   display: none;
}

.dd-desc {
   color: #999;
   font-size: 11px;
   height: 15px;
   line-height: 15px;
   vertical-align: center;
}

.dd-text {
   height: 25px;
}

.dd-input {
   border: none;
   background: none;
   margin: 0;
   height: 25px;
   line-height: 25px;
   display: block;
   font-size: 13px;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont,
        'Helvetica Neue', Arial, sans-serif;;
}

.dd-input:focus {
   outline: 0 none;
   outline: 0px solid #fff;
   -o-outline: 0px solid #fff;
   outline-width: 0;
   outline-color: rgba(0, 0, 0, 0);
   outline-offset: -2px;
}

.dd-not-found {
   height: 25px;
   padding: 0px 6px;
}

.dd-input:focus::-webkit-input-placeholder { color: transparent; }
.dd-input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.dd-input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.dd-input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
